<div id="loginForm">
  <img src="img\redbear128.png"/>
  <h2>RedBear Cloud Beacon Demo</h3>
  <div class="form">
    <h4>Login (Please use your Particle Account to login)</h4>
    <form>
      <div class="form-group">
        <label for="username">Email address</label>
        <input type="email" class="form-control" id="username" placeholder="Email" ng-model="user.username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="passowrd" placeholder="Password" ng-model="user.password">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
    </form>
  </div>
</div>
